* {
    font-family: sofia-pro, sans-serif !important;
}

.almi-btn {
    background-color: #870AA0 !important;
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.almi-btn:hover {
    background-color: #720b86 !important;
}

.almi-bg-gray {
    background-color: #F2F1F1;
}

.almi-bg-rosa {
    background-color: #FA1996;
}

.almi-rosa {
    color: #FA1996;
}

.almi-bg-l-green {
    background-color: #9BE5BE !important;
}

.almi-bg-green {
    background-color: #00BE5F!important;
}

.almi-green {
    color: #00BE5F!important;
}

.almi-bg-l-lila {
    background-color: #cd9bd7;
}

.almi-bg-l-rosa {
    background-color: #FFAFE1;
}

.almi-logo {
    height: 40px;
}

.hero-text {
    background-color: rgba(0, 0, 0, 0.267);
}

.icons-wrapper img {
    height: 40px;
}

.navbar-collapse {
    flex-basis: auto !important;
    flex-grow: 0 !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.almi-qoute img {
    max-width: 8rem;
}

.almi-heart {
    border: 3px solid #000;
    margin: 1rem;
}

.almi-heart:hover {
    background-color: #FA1996 !important;
}

.almi-input {
    width: 150px !important;
    height: 36px !important;
    border-radius: 0 !important;
    border: none !important;
}

#villkor .almi-bg-gray:hover {
    background-color: #ebebeb;
}

#choice :hover {
    background-color: rgb(243, 243, 243) !important;
}

.modal-content {
    background: url('images/SVG/media_hash.svg');
    background-size: cover;
}

nav li :hover {
    color: #FA1996 !important;
}

.navbar-toggler-icon {
    background-image: url(images/SVG/icon_list.svg) !important;
}