* {
    font-family: sofia-pro, sans-serif !important;
}

.almi-bg-gray {
    background-color: #F2F1F1;
}

.almi-bg-rosa {
    background-color: #FA1996;
}

.almi-rosa {
    color: #FA1996;
}

.almi-bg-l-green {
    background-color: #9BE5BE !important;
}

.almi-bg-green {
    background-color: #00BE5F!important;
}

.almi-green {
    color: #00BE5F!important;
}

.almi-bg-l-lila {
    background-color: #cd9bd7;
}

.almi-bg-l-rosa {
    background-color: #FFAFE1;
}

.almi-logo {
    height: 40px;
}

.hero-text {
    background-color: rgba(0, 0, 0, 0.267);
}

.icons-wrapper img {
    height: 40px;
}

.navbar-collapse {
    flex-basis: auto !important;
    flex-grow: 0 !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar-toggler-icon {
    background-image: url(images/SVG/icon_list.svg) !important;
}

nav li :hover {
    color: #FA1996 !important;
}

.almi-btn {
    background-color: #870AA0 !important;
    border: 0 !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.almi-btn:hover {
    background-color: #720b86 !important;
}

.almi-qoute img {
    max-width: 8rem;
}

.almi-chevron {
    width: 2rem;
    display: inline !important;
    cursor: pointer;
}

.almi-input {
    width: 150px !important;
    height: 36px !important;
    border-radius: 0 !important;
    border: none !important;
}

#villkor .almi-bg-gray:hover {
    background-color: #ebebeb !important;
}

#why :hover {
    background-color: #F2F1F1 !important;
}

.modal-content {
    border-radius: 0 !important;
}

.accordion-button:not(.collapsed) {
    color: none !important;
    background-color: #9BE5BE !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.accordion-button:not(.collapsed) {
    color: #000000 !important;
}